@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

section.parallax {
    overflow: hidden;
    position: relative;
}

.parallax {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

#text {
    font-size: 350%;
    position: relative;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0,0,0,.2);
}

.parallax img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
    min-height: 100vh;
    object-fit: cover;
}

.sec {
    position: relative;
    background: #003329;
    padding: 20px;
    padding-top: 40px;
    text-align: center;
}

.sec h2 {
    font-size: 3em;
    color: #fff;
}

.sec p {
    font-weight: 400;
    color: white;
    font-size: 28px;
    margin-top: 40px;
}

.circles {
    display: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.circle {
    margin: 2em;
    background: #d2e296;
    border: 1px #555 solid;
    border-radius: 50%;
    position: relative;
    width: 14.2em;
    height: 14.2em;
    color: #fff;
    box-shadow: 0 0 1.5em rgba(0,0,0,.6);
}

.circle-inner {
    background: #282c30;
    border-radius: inherit;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: (-50%, -50%);
    width: 10.5em;
    height: 10.5em;
    box-shadow: 0 0 1.5em rgba(0,0,0,.7);
    display: flex;
    justify-content: center;
    align-items: center;

}

.circle-inner::before {
    content: '';
    background: linear-gradient(
        120deg,
        #201c21,
        #2f343a
    );
    box-shadow: 0 0.5em 0.5em rgba(0,0,0,.3);
    border-radius: inherit;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 9.5em;
    height: 9.5em;
    z-index: -1;
}

.circle h1 {
    font-size: 2.6em;
}

.circle svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.track {
    fill: none;
}

.progress {
    fill: none;
    stroke: #17c9d2;
    stroke-width: 22;
    stroke-linecap: round;
    stroke-dasharray: 630;
    stroke-dashoffset: 630;
    transition: 1s ease-in-out;
}

.circle:nth-child(2) .progress {
    stroke: #ff2b1c;
}

.circle:nth-child(3) .progress {
    stroke: #ffb71c;
}

.circle:nth-child(4) .progress {
    stroke: #1c443e;
}

.wrapper {
position: relative;
width: 80vw;
transform: translate(-50%, -50%);
top: 50%;
left: 50%;
display: block;
justify-content: space-around;
}
i {
color: #18f98f;
font-size: 3em;
text-align: center;
}
span.num {
color: #ffffff;
display: grid;
place-items: center;
font-weight: 600;
font-size: 5em;
}

.scrolling-wrapper{
overflow-x:auto;
}

.card-block{
height: fit-content;
width: fit-content;
background-color: #fff;
border: none;
background-position: center;
background-size: cover;
transition: all 0.2s ease-in-out !important;
border-radius: 24px;
}

.card-block:hover{
transform: translateY(-5px);
background-color: lightgray;
box-shadow: none;
opacity: 0.9;
}